---
import Layout from "../layouts/Layout.astro";
import Component from "../components/Base64.tsx";

const title = "base64";
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <Component client:visible />
  </main>
</Layout>
