---
import Layout from "../layouts/Layout.astro";
import Component from "../components/Base64String1.tsx";
---

<Layout title="base64 string v1">
  <main>
    <h1>base64 string v1</h1>
    <Component client:visible />
  </main>
</Layout>
