---
import Layout from "../layouts/Layout.astro";
import Component from "../components/Base64String1.tsx";

const title = "base64 string v1";
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    v2 より短い文字列を生成するが、MDNで紹介されている方法ではない。
    <Component client:visible />
  </main>
</Layout>
