---
import Layout from "../layouts/Layout.astro";
import Base64Component from "../components/Base64.tsx";
---

<Layout title="base64">
  <main>
    <h1>base64</h1>
    <Base64Component client:visible />
  </main>
</Layout>
