---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tools">
  <div>
    <main>
      <div>
        <header>
          <h1>Tools</h1>
          <nav>
            <a href="/tools" aria-current="page">Home</a> /<a
              href="https://github.com/chibat/tools"
              target="_blank">GitHub</a
            >
          </nav>
        </header>
      </div>
      <h2>Client Side Tools</h2>
      <ul>
        <li><a href="./base64">base64</a></li>
        <li><a href="./base64-string1">base64 string v1</a></li>
        <li><a href="./base64-string2">base64 string v2</a></li>
        <li><a href="./base64url-string1">base64url string v1</a></li>
      </ul>
    </main>
  </div>
</Layout>
