---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Tools" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://chiba.dev/favicon.ico"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <a href=".">Home</a>
    <h1>Tools</h1>
    <slot />
  </body>
</html>
<style is:global></style>
